<div class="admin_index_header">
  <h1>Edit Company</h1>
</div>
<div class="half">
  <div>
    <%= simple_form_for(@company, url: admin_company_path(@company)) do |f| %>
      <% if @company.errors.any? %>
        <div class="errors-container">
          <ul>
            <% @company.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <%= f.input :name, label: "Name", placeholder: @company %>
      <%= f.input :website, label: "Website", placeholder: "company website" %>
      <%= f.input :address, label: "Address", placeholder: "company address" %>
      <%= f.input :city, label: "City", placeholder: "City" %>
      <%= f.input :postal_zip, label: "Postal Zip Code", placeholder: "Postal zip" %>
      <%= f.input :country, as: :string, label: "Country", placeholder: "Country" %>
      <%= f.submit 'Edit company', class: 'btn btn-primary',  id: 'booking-btn' %>
    <% end %>
  </div>
</div>
