<div class="admin_index_header">
  <h1>Edit Company License</h1>
</div>
<div class="half">
  <div>
    <%= simple_form_for(@company_license, url: admin_company_license_path(@company_license)) do |f| %>
      <% if @company_license.errors.any? %>
        <div class="errors-container">
          <ul>
            <% @company_license.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <%= f.input :owner_id, label: "owner_id", placeholder: "company_license owner_id" %>
      <%= f.input :plan_id, label: "plan_id", placeholder: "company_license plan_id" %>
      <%= f.input :company_id, label: "company_id", placeholder: "company_license company_id" %>
      <%= f.input :name, label: "Name", placeholder: "company_license name" %>
      <%= f.input :logo, label: "logo", placeholder: "company_license logo" %>
      <%= f.input :sub_category_id, label: "sub_category_id", placeholder: "company_license_id sub_category" %>
      <%= f.submit 'Edit company_license', class: 'btn btn-primary',  id: 'booking-btn' %>
    <% end %>
  </div>
</div>
