 <% @vendors.each do |vendor| %>
          <h1> <%= vendor.name%></h1>
          <h3> <%= vendor.address%></h3>
          <h3> <%= vendor.city%></h3>
          <h3> <%= vendor.country%></h3>
          <h3> <%= vendor.website%></h3>

<% end %>