 <% @companies.each do |company| %>
          <h1> <%= company.name%></h1>
          <h3> <%= company.address%></h3>
          <h3> <%= company.city%></h3>
          <h3> <%= company.country%></h3>
          <h3> <%= company.website%></h3>

<% end %>